body {font-family: Arial;}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#output{
  border: rgba(0, 0, 0, 0.9) 1px solid;
  width: 200px;
  height: 200px;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
#picsum{
  background: #000000;
  padding: 3px 16px;
  color: white;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.3px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.00), 0 1px 2px rgba(0, 0, 0, 0.00);
  width: 190px;
  margin-left: 90px;
}

#picsum:hover{
  margin-top: -1px;
  margin-bottom: 1px;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

html {
  background: #e2c49e;
}

body,


body {
  padding: 32px 0px;
  padding-bottom: 128px;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

form {
  padding-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  background: white;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.form__header {
  padding: 32px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.form__header h1 {
  font-size: 1.5rem;
  margin-bottom: 8px
}

.form__header p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}

form h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}

form h3 {
  box-sizing: border-box;
  border-left: 3px solid transparent;
  margin-top: 24px;
  padding: 0px 32px;
  width: 100%;
  font-size: 1.10rem;
  text-align: left;
}

.form-group {
  box-sizing: border-box;
  width: 100%;
  padding: 24px 32px;
  border-left: 3px solid transparent;
  transition: 0.2s all;
}

.form-group:hover {
  border-left: 3px solid #64FFDA;
}

.form-date-group {
  display: flex;
  box-sizing: border-box;
  width: 50%;
  padding: 24px 32px;
  border-left: 3px solid transparent;
  transition: 0.2s all;
}

.form-date-group:hover {
  border-left: 3px solid #64FFDA;
}

.form-date-group .form-group {
  padding: 0px;
}

.form-date-group .form-group:hover {
  border-left: 3px solid transparent;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  display: block;
}

.form-group label span {
  color: red;
}

form .line-break {
  width: 100%;
  height: 1px;
  margin: 16px auto;
  border-bottom: 1px solid #eee;
}

input[type=text]::placeholder,
input[type=number]::placeholder,
input[type=date]::placeholder,
textarea::placeholder {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

input[type=text],
input[type=number],
input[type=date],
textarea {
  font-size: 1.05rem;
  font-weight: 600;
  font-family: inherit;
  box-sizing: border-box;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: 0.2s border;
  width: 100%;
  font-size: 1rem;
}

textarea {
  max-width: 533px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus,
textarea:focus {
  outline: none;
  border-color: #1DE9B6;
}



input[type=submitt] {
  background: #000000;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 0.3px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: 0.2s all;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.00), 0 1px 2px rgba(0, 0, 0, 0.00);
  width:100px;
 
}

input[type=submitt]:hover {
  margin-top: -1px;
  margin-bottom: 1px;
  background: #ffffff;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.14);
}



.error__input {
  border-color: red ;
}

.error {
  color: red;
}

#create-resume{
  position: relative;
  left: 48%;
}


/* //second preview */




.resumewrapper{
  border-radius: 15px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
 padding-right: 10px;
 padding-left: 10px;
  width: 100%;
  text-align: center;
  background-color: white;
  display: block;
}
.pre_elements{
  text-align: start;
  font-weight:bold;
  font-size: 24px;
 
}

#outshow{
 
  border: 1px dashed rgba(0, 0, 0, 0.9);
  border-radius: 80px;
  margin-bottom: 10px;
}

#nameshow{
  font-size: 48px;
  margin-bottom: 5px;
}

#addressshow{
  font-size: 20px;
}

#phoneshow{
  font-size: 20px;
}

#emailshow{
  font-style:20px ;
}

.mid_header{
  font-size: 24px;

}
#aboutshow{
 
  font-style: italic;
  
}

#careershow{

}

#edushow{

}

#recentshow, #pastshow, #anotherpastshow,  #positionshow1, #positionshow2, #positionshow3{
margin-left: 0;  
font-size: 18px;

}


@media only screen and (max-width: 800px) {
  .pre_elements {
    font-size: 15px;
  }
  #nameshow{
    font-size: 30px;
  }
  #addressshow{
    font-size: 16px;
  }
  #phoneshow{
    font-size: 16px;
  }
  #emailshow{
    font-size: 16px;
  }
  .mid_header{
    font-size: 20px;
  
  }
  #recentshow, #pastshow, #anotherpastshow,  #positionshow1, #positionshow2, #positionshow3{
  
    font-size: 14px;
    }
}